


/************** Base styling ***************/
.section-box1, .section-box2, .section-box3 { 
    border : 1px solid black;
    width: 33%;
    float: left;
    background: lightgray;
    margin: 1%;
}
.section-header1, .section-header2, .section-header3 {
    text-align: right;
    border: 1px solid black;
    float: right;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 20px;
    padding: 1%;
}

.section-header1 {
    color: black;
    background: lightyellow;
}

.section-header2 {
    color: black;
    background: burlywood;
}

.section-header3 {
    color: white;
    background: darkcyan;
}
.section-content {
    padding: 1%;
    display: inline-block;
    font-size: 16px;
    box-sizing: border-box;
}

.header{
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    padding: 1%;
    font-size: 28px;
}

.row{
    width: 100%;
}

/******************************************/

/***Large devices only ****/
@media (min-width: 992px){
    .col-lg-3{
        width: 31%;
    }
    .section-box1{
        width: 31%; 
    }
    .section-box2{
        width: 31%;
    }
    .section-box3{
        width: 31%;
    }
}
/************************/

/*******Medium devices ****/
@media (min-width: 768px) and (max-width: 991px){
    .section-box1{
        width: 31%; 
    }
    .section-box2{
        width: 31%;
    }
    .section-box3{
        width: 100%;
    }
}
/*************************/

/********Small devices ****/
@media (max-width: 767px) {
    .section-box1{
        width: 100%; 
    }
    .section-box2{
        width: 100%;
    }
    .section-box3{
        width: 100%;
    }
}
/**************************/
